bob/bob
bob/out.ninja
build/
.dropbox
.vs
game
game.exe
bob/bob.exe
*.pdb
*.ilk
Icon*
.DS_Store
.vscode
*.xcodeproj
*.gdf
*.blend1
*.gif
imgui.ini
settings.txt
venv/
mesh/mesh
assets/unsynced
*.exp
project.4coder
game.lib
